:root {
  --amikom-purple: #700070;
  --amikom-tekhelet: #4a1b9d;
  --amikom-jonquil: #ffcc00;
  --amikom-orange: #ffac00;
  --amikom-safety-orange: #ff7900;
  --amikom-black: #000000;
  --amikom-white: #ffffff;
}
.hero-section {
  min-height: 70vh;
  background: linear-gradient(
    135deg,
    var(--amikom-purple),
    var(--amikom-tekhelet)
  );
}
